body {
    background-color: pink; /* update the main background color for your page */
    /*font-family: "Playfair Display", serif;*/
    font-style: normal;
}

main {
    background-color: white;
    margin: 30px;
    min-height: 100vh;
}

p {
    color: #f20a8d;
}

h1 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight:600
}
a:hover,
a:focus{
    text-shadow: 1px 1px 11px orange;
}

.active-link {
    font-weight: bold;
    text-decoration:none;
}

.show-on-hover {
    display:none;
}

.scavenger-hunt:hover .show-on-hover{
    display: block;
}

.scavenger-hunt:focus .show-on-hover{
    display: block;
}

.blog-img{
    border:3px dotted lightblue;
    width: 60%;
    height: auto;
    padding: 15px;
    margin: 20px 10px;
}

.gallery-img {
    border: 2px solid steelblue;
    width: 29%;
    height: auto;
    padding: 3px;
    margin: 1%;
}
