body {
    background-color: pink; /* update the main background color for your page */
    font-family: "Playfair Display", serif;
    font-style: normal;
}

main {
    background-color: white;
    margin: 30px;
    min-height: 100vh;
}

p {
    color: #f20a8d;
}

h1 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight:600
}
h3 {
    font-weight: 600;
}
h4 {
    font-weight: 600;
}

p {
    color: #700808;  
 } 

 body {
    font-family: "Arvo", serif;
 } 

 h3, h4 {
    font-size: 40px;    
    line-height: 0.5; 
 }     

h3 {
    font-weight: 600; 
     } 
h4 {
    font-weight: 500; 
     } 