body {
    background-color: pink; /* update the main background color for your page */
    /*font-family: "Playfair Display", serif;*/
    font-style: normal;
}

main {
    background-color: white;
    margin: 30px;
    min-height: 100vh;
}

p {
    color: #f20a8d;
}

h1 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight:600
}
a:hover,
a:focus{
    text-shadow: 1px 1px 11px green;
}

.active-link {
    font-weight: bold;
    text-decoration:none;
}

.show-on-hover {
    display:none;
}

.scavenger-hunt:hover .show-on-hover{
    display: block;
}

.scavenger-hunt:focus .show-on-hover{
    display: block;
}